/* line 1, assets/scss/admin.scss */
.cfs_input .hndle {
  background: red;
  color: white;
}

/* line 6, assets/scss/admin.scss */
.postbox {
  background: #d6d6d6;
}

/* line 10, assets/scss/admin.scss */
.cfs_loop .cfs_loop_body {
  display: block;
}
