.content.active {
  -webkit-animation:    fadeIn 1s; 
       -moz-animation:  fadeIn 1s; 
        -ms-animation:  fadeIn 1s; 
         -o-animation:  fadeIn 1s; 
            animation:  fadeIn 1s;
}

.project__container.active {
  -webkit-animation:    bounceInUp 1.2s; 
       -moz-animation:  bounceInUp 1.2s; 
        -ms-animation:  bounceInUp 1.2s; 
         -o-animation:  bounceInUp 1.2s; 
            animation:  bounceInUp 1.2s;
}


.attribute  {
  -webkit-animation:    fadeInUpBig .5s; 
       -moz-animation:  fadeInUpBig .5s; 
        -ms-animation:  fadeInUpBig .5s; 
         -o-animation:  fadeInUpBig .5s; 
            animation:  fadeInUpBig .5s;
}

.section__headerinner h2, .heading__details .btn {
    -webkit-animation:  fadeInUpBig 1.5s; 
       -moz-animation:  fadeInUpBig 1.5s; 
        -ms-animation:  fadeInUpBig 1.5s; 
         -o-animation:  fadeInUpBig 1.5s; 
            animation:  fadeInUpBig 1.5s;
}


.section__headerinner h1 {
    -webkit-animation:  bounceInDown 1.3s; 
       -moz-animation:  bounceInDown 1.3s; 
        -ms-animation:  bounceInDown 1.3s; 
         -o-animation:  bounceInDown 1.3s; 
            animation:  bounceInDown 1.3s;
}

body {
    -webkit-animation:  fadeIn 2.2s; 
       -moz-animation:  fadeIn 2.2s; 
        -ms-animation:  fadeIn 2.2s; 
         -o-animation:  fadeIn 2.2s; 
            animation:  fadeIn 2.2s;
}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}


@-webkit-keyframes fadeInDownBig {
    0% {opacity: 0; -webkit-transform: translateY(-2000px);}
  100% {opacity: 1; -webkit-transform: translateY(0);}
}

@-moz-keyframes fadeInDownBig {
   0% {opacity: 0; -moz-transform: translateY(-2000px);}
  100% {opacity: 1; -moz-transform: translateY(0);}
}

@-ms-keyframes fadeInDownBig {
    0% {opacity: 0; -ms-transform: translateY(-2000px);}
  100% {opacity: 1; -ms-transform: translateY(0);}
}


@keyframes fadeindown {
    from { opacity: 0; transform: translate3d(0, 100%, 0); }
    to   { opacity: 1; transform: translate3d(0, 0, 0); }
}

/* Firefox < 16 */
@-moz-keyframes fadeindown {
    from { opacity: 0; transform: translate3d(0, 100%, 0); }
    to   { opacity: 1; transform: translate3d(0, 0, 0); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeindown {
    from { opacity: 0; transform: translate3d(0, 100%, 0); }
    to   { opacity: 1; transform: translate3d(0, 0, 0); }
}

/* Internet Explorer */
@-ms-keyframes fadeindown {
    from { opacity: 0; transform: translate3d(0, 100%, 0); }
    to   { opacity: 1; transform: translate3d(0, 0, 0); }
}

/* Opera < 12.1 */
@-o-keyframes fadeindown {
    from { opacity: 0; transform: translate3d(0, 100%, 0); }
    to   { opacity: 1; transform: translate3d(0, 0, 0); }
}



@keyframes fadeinup {
    from { opacity: 0; transform: translate3d(0, -100%, 0); }
    to   { opacity: 1; transform: translate3d(0, 0, 0); }
}

/* Firefox < 16 */
@-moz-keyframes fadeinup {
    from { opacity: 0; transform: translate3d(0, -100%, 0); }
    to   { opacity: 1; transform: translate3d(0, 0, 0); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinup {
    from { opacity: 0; transform: translate3d(0, -100%, 0); }
    to   { opacity: 1; transform: translate3d(0, 0, 0); }
}

/* Internet Explorer */
@-ms-keyframes fadeinup {
    from { opacity: 0; transform: translate3d(0, -100%, 0); }
    to   { opacity: 1; transform: translate3d(0, 0, 0); }
}

/* Opera < 12.1 */
@-o-keyframes fadeinup {
    from { opacity: 0; transform: translate3d(0, -100%, 0); }
    to   { opacity: 1; transform: translate3d(0, 0, 0); }
}



@keyframes fadeoutdown {
    from { opacity: 0; transform: translate3d(0, 0, 0); }
    to   { opacity: 1; transform: translate3d(0, 200%, 0); }
}

/* Firefox < 16 */
@-moz-keyframes fadeoutdown {
    from { opacity: 0; transform: translate3d(0, 0, 0); }
    to   { opacity: 1; transform: translate3d(0, 200%, 0); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeoutdown {
    from { opacity: 0; transform: translate3d(0, 0, 0); }
    to   { opacity: 1; transform: translate3d(0, 200%, 0); }
}

/* Internet Explorer */
@-ms-keyframes fadeoutdown {
    from { opacity: 0; transform: translate3d(0, 0, 0); }
    to   { opacity: 1; transform: translate3d(0, 200%, 0); }
}

/* Opera < 12.1 */
@-o-keyframes fadeoutdown {
    from { opacity: 0; transform: translate3d(0, 0, 0); }
    to   { opacity: 1; transform: translate3d(0, 200%, 0); }
}





@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            opactiy: 0; 
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
            opactiy: 0; 
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            opactiy: 1; 
  }
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}