input,
textarea,
select,
html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

@font-face {
    font-family: lovelo-light;
    src: url(assets/fonts/Lovelo_Line_Light.otf);
}
@font-face {
    font-family: 'loveloblack';
    src: url('assets/fonts/lovelo_black-webfont.eot');
    src: url('assets/fonts/lovelo_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/lovelo_black-webfont.woff2') format('woff2'),
         url('assets/fonts/lovelo_black-webfont.woff') format('woff'),
         url('assets/fonts/lovelo_black-webfont.ttf') format('truetype'),
         url('assets/fonts/lovelo_black-webfont.svg#loveloblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: lovelo-bold;
    src: url(assets/fonts/Lovelo_Line_Bold.otf);
}
