footer {
	width: 100%;
	background: #151515;
	padding-top: 3em;
	overflow: hidden;
	position: fixed;
	z-index: 1; 
	bottom: 0; 
	
	i {
		color: #fff; 
	}
	a, p {
		color: #fff; 
	}

	p {
		margin: 0; 
	}

	transition: all .5s ease;

	.open & {
		@include transform(translate3d(-200px, 0, 0));
	}

	.social {
		margin-top: 20px; 
		ul {
			margin: 0; 
		}
		li {
			display: inline-block;
			margin-right: 10px; 
		}
		a {
			display: block;
			width: 30px;
			height: 30px;
			line-height: 25px;
			border: 2px solid #fff;
			border-radius: 50%;
			color: #fff;
			text-align: center;
			transition: all .3s ease;
		}
		i {
			margin-top: -1px!important; 
		}
		.tooltip {
			border-radius: 50%!important;
			position: static!important; 
			padding: 0!important; 
			background: none!important; 
		}

		/* .tooltip {
			display: block; 
			position: relative; 
			width: auto; 
			padding:0; 
			background: none; 
		}

		.tooltipster-default {
			background: #FFFFFF!important;
			color: #333!important;
			.tooltipster-arrow-border {
				border-color: #252525!important;
			}
		} */

	}

	.copy {
		text-align: center; 
		font-size: 11px; 
		text-transform: uppercase; 
		color: white; 
	}

	.call {
		@include at-small-only {
			margin-bottom: 20px; 
		}
	}

	.call, .adress {
		@include at-small-only {
			text-align: center; 
			float: none!important; 
		}
	}

	.adress {
		float: right; 
	}

	.name {
		text-transform: uppercase;
		color: #fff; 
		font-family: "loveloblack", sans-serif;
		font-size: 30px; 
	}

	.center {
		margin-top: -15px;
	}

	.footer-down {
		margin-top: 3em;
		padding-top: 10px; 
		padding-bottom: 10px; 
		background: rgba(0, 0, 0, 0.3); 
	}
}
