.menu-btn {
	position: fixed;
  	top: 0;
  	right: 0;
  	border-radius: 0!important; 
	background: white!important; 
	padding: 10px 10px!important;
	margin-bottom: 0;
	margin-top: 0; 
	height: 46px; 
	width: 50px; 
	line-height: 50px; 
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition: transform 0.5s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index: 1002;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	._layer {
		background: #333; 
	}
	
	&:active {
		top: 0; 
 		right: 0; 
 		left: auto; 
	}
}

.open .menu-btn ._layer.-top {
	-webkit-transform: translateY(200%) rotate(45deg) !important;
	-ms-transform: translateY(200%) rotate(45deg) !important;
	transform: translateY(200%) rotate(45deg) !important;
}

.open .menu-btn ._layer.-mid {
	display: none; 
}


.open .menu-btn ._layer.-bottom {
	-webkit-transform: translateY(0) rotate(135deg) !important;
	-ms-transform: translateY(0) rotate(135deg) !important;
	transform: translateY(0) rotate(135deg) !important;
}


._layer {
	background: #fff;
	margin-bottom: 4px;
	border-radius: 2px;
	width: 28px;
	height: 4px;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.5s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition: all 0.5s cubic-bezier(0.05, 1.04, 0.72, 0.98);
} 


.open .site-header {
	top: 0; 
	position: fixed; 
	background: white; 
	-webkit-transform: translate3d(0, 0, 0); 
}


.site-header {
	width: 100%;
	background: none!important; 
	position: absolute;
	box-shadow: inset 21px 10px 8px -19px rgba(0, 0, 0, 0.2);
	transform : translate3d(0, -64px, 0);
	top: 64px;
	right: 0;
	width: $canvaswidth;
	height: 100%;

	&.isScrolled  {
		position: fixed;
		top: 0; 
		transform : translate3d(0, -64px, 0);
		-webkit-transition: transform 300ms ease;
		transition: transform 300ms ease;
	}

	&.isScrolled.isVisible {
		transform : translate3d(0, 0, 0);
	}

	&.isScrolled.isHidden {
		transform : translate3d(0, -64px, 0);
	}

	&.isScrolled {
		transform : translate3d(0, 0, 0);
		box-shadow: 0 4px 1px -4px #333!important;
		background: #fff!important;
		ul li:last-child a {
			padding-right: 0; 
		} 
		ul li a {
			color: black;
		}
	}
	
	@include at-small-only {
		left: auto!important; 
	}

	@include at-large {
		height: auto;
		width: 100%;  
		z-index: 99; 	
	}
}

.site-header ul {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	@include at-large {
		position: relative;
		float: right;
		padding: 20px; 
		margin: 0; 
		-webkit-transform: translateY(0);
		transform: translateY(0);
		width: auto;
	}
}

.site-header ul li {
	display: block;
	width: 100%;
	@include at-large {
		width: auto; 
		padding-left: 10px; 
		float: left; 
		display: inline-block; 
	}
}


.site-header ul li a {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  padding: 1em 2em;
  color: $maincolor;
  text-transform: uppercase;
  margin-left: 15px;
	@include at-large {
		color: white; 	
	}
}


.site-header ul li:last-child a {
	padding-right: 0; 
}

.site-header:not(.isVisible) li a {

	&:hover {
		@include at-large {
			color: white; 
		}
	}

	&:hover:after {
		@include at-medium {
			visibility: visible;
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}	
	}

	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: white;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 200ms ease 0s;
		transition: all 200ms ease 0s;
		border-radius: 2px;
	}
}

.site-header:not(.isVisible) li:last-child a:after {
	margin-left: 15px;
}

.section__parallax {
	
	padding-top: 0; 
	position: relative;
	background-image: image-url("bg.jpg") !important;
	@include background-size(cover); 
	background-position: center center; 
	background-repeat: no-repeat;

	@include at-small-only {
		height: 350px; 

		h1 {
			margin-top: 0; 
		}

		h1, h2 {
			width: 100%;
			text-align: center; 
			float: left; 
		}
	}

	@include at-medium {
		height: 400px;
	}

	@include at-large {
		height: 650px;
	}

	.section__header {
		display: table;
  		float: none;
  		height: 100%;
	}

	.heading__details {
		width: 100%; 
		float: left;
		text-align: center; 
	}

	.section__headerinner {
		z-index: 999; 
		vertical-align: middle;
	    display: table-cell;
	    float: none;

		h1, h2 {
			color: white!important; 
		}
		@include at-small-only {
			bottom: auto; 
			position: relative;
		}
	}
	
}

.bgoverlay {
	height: 100%;
	position: absolute;
	width: 100%;
	top: 0;
	background-color: #000;
	opacity: .7; 
}