$maincolor : #666; 
$bgcolor: #fff; 
$canvaswidth : 200px; 
$padding: 40px; 
$highlightcolor: #428bca;

/* #ec5456  #428bca #04cdae  */

body {
	color: $maincolor; 
	background: $bgcolor;
}


h2, h3, p, a {
	color: #000; 
}

h1 {
	font-family: "loveloblack", sans-serif;
	margin-bottom: 0;
	color: #000; 
	font-weight: 700;
    font-size: 36px;
	@include at-medium  { 
		font-size: 50px; 	
	}
	@include at-large { 
		font-size: 70px; 	
	}
}



h2.refresh {
	margin-top: 0; 
	font-size: 24px; 
	font-family: 'Open Sans', sans-serif;
}


h2 {
	font-family: "loveloblack", sans-serif;
	color: $maincolor; 
	text-align: center; 
	font-size: 25px;
	@include at-medium {
		font-size: 30px;
		margin-bottom: 0px;   
	} 

	&.refresh {
		@include at-small-only {
			font-size: 18px;
		}
	}
}

h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	color: $maincolor;
	font-size: 20px; 
	@include at-medium {
		font-size: 25px;
	}
}

h4, .contact {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	color: $maincolor;
}

p, a, blockquote, li {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px; 
	font-weight: 400; 
	color: #808080;
}

a {
	color: $maincolor; 
}

ul {
	margin: 0; 
}

li {
	list-style: none; 
}


.secondary-title.center.columns {
	margin-top: 60px; 
	margin-bottom: 40px; 
}

.section__contact {
	padding-bottom: $padding; 
}

article, section {	
	position: relative; 
	z-index: 2; 
	padding-top: 30px; 
	background-color: #fff!important; 
	float:left; 
	width: 100%;
	-webkit-transform: translate3d(0, 0, 0); 
	@include at-medium {
		padding-top: 80px;
	}
	 
}


.btn-holder {
	@include at-small-only {
		float: left; 
		.btn {
			margin-top: 0; 
		}
	}
}

input[type="submit"] {
	margin-top: 20px; 
}


i.feature-link {
	transition: .1s ease-in-out all; 
	position: relative;
	margin-left: -30px;
	padding: 15px;
	left: 50%; 
	background: $highlightcolor;
	color: white!important;
	border-radius: 50px;
	border: 1px solid transparent;
	font-size: 26px;
	vertical-align: middle;
	opacity: .7; 
	margin-top: 100%; 

	&:hover {
		border: 1px solid $highlightcolor;
		color: $highlightcolor!important;
		background: #fff; 
	}
}

.item:hover {
	i.feature-link {
		margin-top: 10px; 
		opacity: 1; 
	}
}

.picture {
	width: 135px;
	height: 135px;
	position: absolute;
	left: 0;
	right: 0;
	top: -75px;
	margin: auto;
	background-color: #fff;
	border: 5px solid #fff;
	border-radius: 50%;
	overflow: hidden;
	z-index: 9999; 
}

.center-mob {
	@include at-small-only {
		text-align: center; 
	}
}

.center-block {
	margin: 0 auto; 
}

.center {
	text-align: center; 
}

.full {
	width: 100%; 
}

.sub-text {
	text-align: center; 
	font-size: 21px; 
	font-family: 'Lobster', cursive;
	color: $maincolor; 
	margin-bottom: $padding; 
}

.empty-margin {
	margin-top: 0!important;
}

.submit {
	width: 100%; 
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 10px 35px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn.btn-custom {
	background-color: $highlightcolor;
	border-color: $highlightcolor;
	color: #fff;
	transition: .3s ease-in-out all; 
	&:hover {
		background-color: #3276b1; 
		border-color: #3276b1;
	}
}

.btn.btn-empty {
	background-color: transparent;
	border-color: #fff;
	border-width: 1px;
	color: #fff;
	transition: .3s ease-in-out all; 
	&:hover {
		background-color: #fff;
		border-color: #fff;
		color: #333;
	}
}

.resume {
	background: $highlightcolor; 
	z-index: 4;
	position: relative; 
	.row {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.sub-text {
		margin: 0; 
	}
	.emp {
		color: white; 
	}
	p, a {
		color: white; 
		text-align: center; 
	}
	.btn {
		font-size: 12px; 
		padding: 10px 35px!important; 
		border-color: white; 
		margin: 0; 
	}
	&:after {
		content: "";
		position: absolute;
		bottom: -10px;
		left: 0;
		width: 100%;
		height: 10px;
		-webkit-box-shadow: 0px -3px 20px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px -3px 20px rgba(0, 0, 0, 0.3);
		box-shadow: 0px -3px 20px rgba(0, 0, 0, 0.3);
		z-index: 101;
	}
}

.emp {
	color: $highlightcolor; 
}

.pdf {
	display: block; 
	margin-bottom: 0; 
}

.contact-form {
	@include at-large {
		margin: auto; 
		width: 50%;
	}
}

.tabs-content {
	.content {
		margin-top: 0; 
		padding-top: 0; 
		padding-bottom: 0!important; 
	}
}

.tabs {
	a {
		width: 120px;
		height: 120px;
		line-height: 100px;
		margin: 50px auto;
		margin-top: 0;
		background-color: #fff;
		border: 2px solid #ececec;
		border-radius: 50%;
		color: #777;
		position: relative;
		transition: all .3s ease;
		font-size: 36px;
		outline: none; 
		&:hover {
			background-color: transparent!important; 
			border: 2px solid $highlightcolor;
			i {
				color: $highlightcolor;
			}
			
		}
	}
	.active a {
		border: 2px solid $highlightcolor;
		i {
			color: $highlightcolor;
		}

		&:after {
			content: "";
			position: absolute;
			width: 22px;
			height: 30px;
			bottom: -15px;
			background-color: $highlightcolor;
			border-left: 10px solid #FFF;
			border-right: 10px solid #FFF;
			left: 50%;
			margin-left: -11px;
		}
		
	}

	i {
		color: #777;
		font-size: 36px; 
	}
	
}

.clients li {
	@include at-medium {
		margin-left: 20px; 
		list-style: disc; 
	}
}

.fourofour {
	padding-bottom: 80px; 
}

.required {
	color: red; 
}

.callout {
	padding: 15px 15px 15px 50px;
	margin-bottom: 15px;
	position: relative;
	background: $highlightcolor;
	color: white;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	&:before {
		content: "\f06a";
		font-size: 18px;
		font-weight: normal;
		margin-left: -28px;
		float: left;
		display: block;
		font-family: "fontawesome";
	}
	&:after {
		display: block;
		width: 0;
		height: 0;
		margin-left: -3px;
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid $highlightcolor;
	}
}

.close {
	margin-bottom: 15px;
	border-radius: 30px;
	background: $highlightcolor;
	padding: 5px 13px;
	position: relative;
	display: inline-block;
	color: white;
	top: 0;
	margin: 0 auto;
	width: auto;
	height: auto;
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	cursor: pointer;
	float: right;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	&:hover {
		background: #B1B1B1;
		.fa {
			color: #fff; 
		}
	}
}

.icon {
	margin-left: 10px;
	top: 50%;
	position: absolute;
	margin-top: -5px;
}

.bg-img {
	background-repeat: no-repeat; 
	background-position: center center; 
	background-size: cover; 
	height: 280px; 
	@include at-medium {
		height: 500px; 
	}
	&.small {
		height: 150px; 
		background-position: 7px -14px;
	}
}

.grayscale {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.btn-holder {
	width: 100%; 
}

.details {
	strong {
		color: #000; 
	}
	li {
		margin-bottom: 20px; 
	}
	i {
		margin-right: 10px; 	
		line-height: 40px;
		text-align: center;
		font-size: 22px;
		color: #333; 
	}
}

.itemdetails.hide {
	display: block; 
	height: 0; 
	overflow: hidden; 
}

.title {
	margin-top: 40px; 
}

.open .content {
	-webkit-transform: translate3d(-$canvaswidth, 0, 0);
	transform: translate3d(-$canvaswidth, 0, 0);
}

.content {
	position: relative; 
	z-index: 3; 
	overflow: hidden; 
	-webkit-transition: -webkit-transform 500ms ease,visibility 500ms linear;
	transition: transform 500ms ease,visibility 500ms linear;
}



.button.success {
	text-shadow: 0px 1px 0px rgba(39, 39, 39, 0.31);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 white;
}


.uppercase {
	text-transform: uppercase; 
}

.bold {
	font-weight: bold; 
}

.condensed {
	font-family: 'Open Sans Condensed', sans-serif;
}

.feature-icon, .submit {
	width: 80px;
	height: 80px;
	line-height: 76px;
	background-color: $highlightcolor;
	color: #fff;
	margin: 15px auto 0;
	margin-top: 0; 
	font-size: 28px;
	border: 2px solid $highlightcolor;
	border-radius: 50%!important;
	transition: all .3s ease;
}

.feature-icon:hover {
	background-color: transparent; 
	color: $highlightcolor;  
}


.proj-detail {
	margin-bottom: 8px; 
}

.refreshbtn {
	@include at-small-only {
		position: relative;
	}
	font-size: 24px; 
	margin-left: 15px; 
	transition: .3s ease-in-out all; 
	position: absolute; 
	color: white;
	&:focus, &:active, &:hover {
		color: #fff; 
	}
}

.btn {
	position: relative;
	background: none; 
	color: #333; 
	border-top: 2px solid #333333;
	border-bottom: 2px solid #333333;
	border-left: 2px solid #333333;
	border-right: 2px solid #333333;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 17px!important;
	border-radius: 3px!important;
	@include transition(all ease-in-out .3s);
	font-size: 12px;
	line-height: 19px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	@include perspective( 1000 );

	&:active {
	  box-shadow: none;
	  top: 2px;
	  left: 2px;
	}

	@include at-small-only {
		line-height: 17px; 
		padding: 10px!important; 
	}

}

hr {
	background: #1D1D1D;
	height: 2px;
	width: 50px;
	margin: auto;
}


i.fa.fa-check {
	margin-right: 5px; 
	color: $highlightcolor;
}