@mixin circle($width) {
  // ff fix 
  transform: rotate(0.0001deg);  
  float: left; 
  margin-right: 20px; 
  width: $width;
  padding-bottom: $width;
  height: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}


@mixin at-small-only () {
    @media #{$small-only} { 
      @content; 
    }
}

@mixin at-small () {
    @media #{$small-up} { 
      @content; 
    }
}

@mixin at-medium-only () {
    @media #{$medium-only} { 
      @content; 
    }
}


@mixin at-medium () {
    @media #{$medium-up} { 
      @content; 
    }
}

@mixin at-large-only () {
    @media #{$large-only} { 
      @content; 
    }
}


@mixin at-large () {
    @media #{$large-up} { 
      @content; 
    }
}


@mixin at-xlarge-only () {
    @media #{$xlarge-only} { 
      @content; 
    }
}

@mixin at-xlarge () {
    @media #{$xlarge-up} { 
      @content; 
    }
}

