.section__about {
	background: $bgcolor;
	float: left; 
	width: 100%; 

	.desc {
		display: table; 
		p {
			@media #{$small-only} {
				display: block; 
			}
			display: table-cell; 
			vertical-align: middle; 
		}
	}

	h3 {
		margin-top: 15px; 
	}

	@media #{$small-only} {
		ul li.hide-for-medium-up {
			margin-bottom: 0; 
		}

	}	

	.experiences {
		@include at-medium {
			float: left; 
		}

		em {
			font-size: .75em; 
			font-style: normal;
			color: #999;
			font-weight: 300;
			margin-left: .5em;
		}

		li {
			margin-bottom: 15px; 
			@include at-medium {
				margin-bottom: 7px; 
			}
		}

		strong {
			@include at-small-only {
				display: block; 
			}
		}

		ul {
			@include at-small-only {
				padding-top: 20px; 
			}
		}

		h4 {
			@include at-small-only {
				text-transform: uppercase;
			}
		}

		span {
			display: block; 
		}
	}

	.columns {
		margin-top: 20px; 
		/* @media #{$medium-up} {
			 
		} */	
	}

	.thumb {
		@include circle(100px);
		@media #{$medium-up} {
			@include circle(200px);
		}
	}
	
}