.section__grid {
	width: 100%; 
	float: left; 
	background: #fff;

	.grid__content {
		@media #{$large-up} {
			padding: 0; 
			margin-top: 20px; 
		}	
	}

	.item {
		background-size: cover; 
		background-position: bottom; 
		display: table;
		float: left; 
		transition: 300ms ease-in-out all;
		position: relative;
		background-repeat: no-repeat; 
		vertical-align: top; 
		padding: 0; 
		overflow: hidden;
		
		@media #{$small-only} {
			margin-bottom: 20px; 
		}

		.overlay {
			visibility: hidden;
			-webkit-transform: scale(0.9,0.9);  
			position: absolute;
			width: 100%;
			height: 100%; 
			padding: 10px;
			overflow: hidden;
			left: 0;	
			bottom: 0;
			transition: 200ms ease-in-out all;
			 
			h2, h3, p, a {
				visibility: hidden; 
			}

			> div {
				display: table;
				height: 100%;
				width: 100%; 
			}

			.overlay-content {
				display: table-cell;
  				vertical-align: middle;
			}

		} 
		.bg-img {
			max-width: 100%; 
			display: block; 
			height: 300px; 
			background-size: cover; 
			background-position: center center; 
			transition: 300ms ease-in-out all;
			-webkit-transform: translateZ(0) scale(1,1);
		}
		

		&:hover {
			.bg-img {
				-webkit-transform: scale(1.1,1.1);
			}
			
			.overlay {
				background: rgba(255, 255, 255, 0.8);
				visibility: visible; 
				-webkit-transform: scale(1,1); 
				h2, h3, i {
					color: #333; 
				}
				h2, h3, p, a {
					visibility: visible; 
				}
			}
		}
	}

}