.section__project {
	padding-top: 0; 
}
.section__project .project__container {
	transition: .5s ease-in-out all; 
	@include transition(500ms ease-in-out all); 
	@include transform(translate3d(0, 0 , 0));
	opacity: 1; 

	&.active {
		margin-bottom: 40px; 
	}

	&.closed {
		height: 0!important; 
		overflow: hidden;
	} 

	&.transition {
		@include transform(translate3d(0, -100% , 0));
		opacity: 0; 
	}

	h4 {
		text-transform: uppercase; 
		font-size: 25px; 
	}

	.btn {
		padding: 10px 35px!important; 
	}

	p:not(:first-child) {
		font-size: 13px; 
	}

}